footer {
    display: flex;
    justify-content: space-around;
    background-color:#7b2e2e;
    text-align: center;
    padding-bottom: $spacing;
    // texto del footer
    p {
        color: $color-blanco-oscuro;
        font-size: .8rem;
        padding-top: $spacing;
    }
    // iconos
    img {
        height: 30px;
        padding-left: $spacing/2;
    }    
}

@media screen and (min-width: 769px) {
    footer {
        text-align: center;
        p {
            font-size: 1rem;
        }

        img {
            height: 40px;
            padding-left: $spacing*1.5;
            padding-right: $spacing*1.5;
        }
    }
}