

@mixin header-general {
    text-align: center;
    padding-bottom: $spacing;
    margin-top: $spacing*10;
    background-color: $color-bordo;
   
}

@mixin h1-general {
    font-size: 2rem;
    font-weight: 150;
    padding-top: $spacing*2; 
    line-height: 30px;   
    color: $color-blanco-claro;  
}

@mixin h4-general {
    color: $color-blanco-claro;
    font-style: italic;
    font-size: 1rem;
    font-weight: 400;
    padding-top: $spacing*0.2; 
    padding-bottom: $spacing*0.5;  
    padding-right: $spacing*2;   
    padding-left: $spacing*2;   
}


.header-2 {
    @include header-general;
    h1 {
        @include h1-general;
    }
    h4 {
       @include h4-general; 
    }
    img {
        display: none;
    }
}




@media screen and (min-width: 769px) {
    .header-2{
        margin-top: $spacing*8;

        h1 {

            font-size: 2rem;
            font-weight: 400;
            padding: 10px;
        }
        h4 {
            @include h4-general;
            font-size: 1.3rem;
            padding-right: 10vw;
            padding-left: 10vw;
        }
        img {
            display: inline-block;
            filter: brightness(60%);
            width: 600px; 
            height: 300px;
        }
    }  
}

