
.main_mundo {
    margin-bottom: $spacing*10;
    /* Bloque de cada pais */
    .div_paises {
        justify-content: center;
        background-color: #e7e5e5;
        margin-top: $spacing*10;
        padding: $spacing*2;

        /* Titulos de los paises */
        h4 {
            font-size: 1.2rem;
            font-weight: 400;
            padding-bottom: $spacing;
            padding-top: $spacing;
        }
        /* parrafos de cada pais */
        p {
            @include parrafo-centrado;
            font-size: .8rem;
            line-height: 22px;
        }

        .imagenes_platos {
            align-self: center;
            margin-bottom: $spacing;
            img {
                max-width: 500px;
            }
        }
        
    }
}

@media screen and (min-width: 769px) {

    .main_mundo {
        margin-bottom: 200px;
        .div_paises {
            background-color: #e7e5e5;
            margin-top: $spacing*15;
            padding: 0px 100px 0px 100px;

            h4 {
                font-size: 1.6rem;
            }
            p {
                font-size: 1rem;
                line-height: 25px;
            }
            .imagenes_platos {
                flex-direction: row;
                max-width: 50vw;
            }
        }
            
    }
}


