.main_index {
    display: grid;
    grid-template-areas: 
    "explicacion"
    "cfns"
    "comenzar_busqueda";
    grid-row-gap: $spacing*10;

    /* Seccion explicacion: elemento padre */
    .explicacion {
        grid-area: explicacion;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: $spacing*10;
        padding: 10px 30px 10px 30px;
        /* Imágen explicación (círculos): elemento hijo */
        img {
            max-width: fit-content;
            height: 180px;
        }

        /* Texto explicación: elemento hijo */
        p {
            @include parrafo-centrado;
            font-size: .8rem;
        }
    }

    
    /* Section: como funciona nuestra pagina */
    .cfns {
        grid-area: cfns;
        text-align: center;
        flex-direction: column;
        background-color: #7b2e2e;
        padding-top: 10px;
        padding-bottom: 9px;

        h2 {
            color: $color-blanco-claro;
            font-weight: 350;
            font-size: 1rem;
            margin-bottom: 10px;
            text-align: center;
        }

        iframe {
            width: 280px;
            height: 157.5px;
        }
    }

    /* Section: comenzar busqueda */
    .comenzar_busqueda {
        grid-area: comenzar_busqueda;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: $spacing*5;

        /* H2: estas listo */
        h2 {
            text-align: center;
            margin-bottom: $spacing*0.2;
            font-size: 1.5rem;
            font-weight: 350;
        }

        /* H4: haz click aqui */
        h4 {
            text-align: center;
            font-size: .8rem;
            margin-top: $spacing*0.2;
            font-weight: 300;
            font-style: italic;
        }
        .btn_cb {
            @extend .btn-css;
            width: fit-content;
            color: $color-blanco-claro;
        }
    }

    .section-imperdibles {
        display: flex;
        flex-direction: column;
        .p-section-imperdibles {
            text-align: center;
            font-size: 1.1rem;
            padding-bottom: $spacing*2;
            color: $color-bordo;
        }
        .restaurantes-imperdibles {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: $spacing*5;
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: $spacing*5;
                .img-restaurantes {
                    height: $spacing*25;
                }
                p {
                    font-size: .9rem;
                    margin-bottom: 0px;
                }
                .p-strong {
                    font-size: 1rem;
                    padding-top: $spacing;
                    margin-bottom: 0%;
                }
                .img-logo {
                    height: $spacing*4;
                }
            }
            
        }
            
    }
}


@media screen and (min-width: 769px) { 

    .main_index {
        /* Seccion explicacion: elemento padre */
        .explicacion {
            flex-direction: row;
            width: 85vw;
            margin: auto;
            margin-top: $spacing*12;

            /* Imágen explicación (círculos): elemento hijo */
            img {
                height: 300px;
            }

            /* Texto explicación: elemento hijo */
            p {
                font-size: 1.2rem;
                line-height: 40px;
                padding: 0px 60px 0px 80px; 
            }
        }

        /* Section: como funciona nuestra pagina */
        .cfns {
            padding-top: $spacing*2;
            padding-bottom: $spacing*2;

            /* H2 de la seccion */
            h2 {
                font-size: 1.6rem ;
                margin-bottom: $spacing*2;
            }
            iframe {
                width: 560px;
                height: 315px;
            }
        }

        /* Section: comenzar busqueda */
        .comenzar_busqueda {
            padding-bottom: $spacing;

            /* H2: estas listo */
            h2 {
                padding-top: $spacing;
                font-size: 2.5rem;
            }
            /* H4: haz click aqui */
            h4 {
                font-size: 1rem;
                font-weight: 300;
                font-style: italic;
            }
        }

        // seccion lugares gastronomicos imperdibles
        .section-imperdibles {
            .p-section-imperdibles {
                font-size: 1.5rem;
            }
            .restaurantes-imperdibles {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly; 
                margin-bottom: $spacing*5;
                div {
                    .img-restaurantes {
                        height: $spacing*25;
                    }
                    p {
                        font-size: 1.2rem;
                        margin-bottom: 0px;
                        color: $color-negrito;
                    }
                    .p-strong {
                        font-size: 1.3rem;
                        padding-top: $spacing;
                        margin-bottom: 0%;
                        color: black;
                    }
                    .img-logo {
                        height: $spacing*4;
                    }
                }
                
            }
                
        }
    }
    
    
}

@media screen and (max-width: 1124px)  {
    .main_index {
        .explicacion {
            flex-direction: column;
            img {
                margin-bottom: 15px;
            }
        }
    }
}