.header_nosotros {
    p {
        font-size: .9rem;
        margin-top: $spacing;
        font-style: italic;
        font-weight: 300;
        padding-left: $spacing;
        padding-right: $spacing;
    }
}

.main_nosotros {
    margin-top: $spacing*5;
    margin-bottom: $spacing*8;
    /* bloque cada persona */
    .div_personas {
        display: flex;
        justify-content: start;
        margin-top: $spacing*3;
        padding: 10px 15px 10px 15px;
        background-color: #bbb9b9d6;
        margin-bottom: $spacing;

        /* lista datos de cada persona */
        ul {
            font-size: .7rem;
            li {
                span {
                    font-weight: 500;
                    font-style: italic;
                }
            }
        }

        /* foto de cada persona */
        img {
            height: 80px;
            width: fit-content;
            padding-right: $spacing;
            align-self: center;
        }
        

    }
}

@media screen and (min-width: 769px) {
    .header_nosotros {
        p {
            font-size: 1.2rem;
            padding-left: 30vw;
        }
    }
    .main_nosotros {
        margin-top: $spacing*8;
        margin-bottom: $spacing*20;

        .row_nosotros {
            flex-wrap: nowrap !important;
            justify-content: center;

            /* bloque cada persona */
            .div_personas {
                padding: 15px 15px 15px 15px;
                margin: 10px 10px 10px 10px;
                ul {
                    font-size: 1rem;
                }
            }
        }
    }
}